apiVersion: v1
kind: ConfigMap
metadata:
  name: school-api-config
  namespace: {{ .Values.namespace }}
data:
  node-env: {{ .Values.api.nodeEnv | default "production" | quote }}
  mongo-uri: "mongodb://{{ .Values.secrets.mongoUsername }}:{{ .Values.secrets.mongoPassword }}@mongo-service:27017/school_db?authSource=admin"
---
apiVersion: v1
kind: Secret
metadata:
  name: school-api-secret
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  jwt-secret: {{ .Values.secrets.jwtSecret | quote }}
  mongo-root-username: {{ .Values.secrets.mongoUsername | quote }}
  mongo-root-password: {{ .Values.secrets.mongoPassword | quote }}