# Global configuration
namespace: school-api

# API Deployment
api:
  replicaCount: 1
  image: rivindu02/school-management-api:latest
  imagePullPolicy: Always
  port: 3000
  nodePort: 30080
  nodeEnv: production
  
  # Health check configuration
  healthChecks:
    enabled: true
    path: /health
    startup:
      initialDelaySeconds: 15
      periodSeconds: 5
      timeoutSeconds: 3
      failureThreshold: 15
    liveness:
      initialDelaySeconds: 45
      periodSeconds: 15
      timeoutSeconds: 5
      failureThreshold: 3
    readiness:
      initialDelaySeconds: 30
      periodSeconds: 10
      timeoutSeconds: 3
      failureThreshold: 3
  
  resources:
    requests:
      cpu: "50m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "384Mi"

# Bitnami MongoDB Configuration
mongodb:
  auth:
    # This replaces your 'school-api-secret' mongo keys
    rootPassword: "xY3zA5bC8dE0fG2hI4jK6lM8n9oP1q"
    username: "admin"
    password: "xY3zA5bC8dE0fG2hI4jK6lM8n9oP1q"
    database: "school_db"
  
  # This acts like your ConfigMap for MongoDB
  persistence:
    enabled: true
    storageClass: "microk8s-hostpath"
    size: 1Gi
  
  # This ensures the service name matches what your API expects
  service:
    nameOverride: "mongo-service"

# Secrets (In production --> use SealedSecrets or Vault)
secrets:
  jwtSecret: "8fH2jK9mP4qR7sT1vW6xY3zA5bC8dE0fG2hI4jK6lM8n"
  mongoUsername: "admin"
  mongoPassword: "xY3zA5bC8dE0fG2hI4jK6lM8n9oP1q"

# Ingress configuration
ingress:
  enabled: true
  className: public
  host: school-api.local
  path: /
  pathType: Prefix
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /

# Resource Quota
resourceQuota:
  enabled: true
  requests:
    cpu: "400m"
    memory: "1Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"