# Global configuration
namespace: school-api

# API Deployment
api:
  replicaCount: 1
  image: rivindu02/school-management-api:latest
  imagePullPolicy: Always
  port: 3000
  nodePort: 30080
  nodeEnv: production
  
  # Health check configuration
  healthChecks:
    enabled: true
    path: /health
    startup:
      initialDelaySeconds: 15
      periodSeconds: 5
      timeoutSeconds: 3
      failureThreshold: 15
    liveness:
      initialDelaySeconds: 45
      periodSeconds: 15
      timeoutSeconds: 5
      failureThreshold: 3
    readiness:
      initialDelaySeconds: 30
      periodSeconds: 10
      timeoutSeconds: 3
      failureThreshold: 3
  
  resources:
    requests:
      cpu: "50m"
      memory: "128Mi"
    limits:
      cpu: "300m"
      memory: "384Mi"

# MongoDB Deployment
mongodb:
  image: mongo:7.0-jammy
  storageSize: 1Gi
  storageClassName: microk8s-hostpath
  
  # Health check configuration
  healthChecks:
    enabled: true
    liveness:
      initialDelaySeconds: 120
      periodSeconds: 60
      timeoutSeconds: 15
      failureThreshold: 3
    readiness:
      initialDelaySeconds: 60
      periodSeconds: 60
      timeoutSeconds: 10
      failureThreshold: 3
  
  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      cpu: "300m"
      memory: "512Mi"

# Secrets (In production --> use SealedSecrets or Vault)
secrets:
  jwtSecret: "8fH2jK9mP4qR7sT1vW6xY3zA5bC8dE0fG2hI4jK6lM8n"
  mongoUsername: "admin"
  mongoPassword: "xY3zA5bC8dE0fG2hI4jK6lM8n9oP1q"

# Ingress configuration
ingress:
  enabled: true
  className: public
  host: school-api.local
  path: /
  pathType: Prefix
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /

# Resource Quota
resourceQuota:
  enabled: true
  requests:
    cpu: "400m"
    memory: "1Gi"
  limits:
    cpu: "1000m"
    memory: "2Gi"